  // modal
  .true_form {
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 0;
    width: 500px;
    height: 250px;
    background: #fff !important;
    min-width: unset;
    text-align: center;
      min-height: unset;
  
  
      .fancybox-button svg {
        display: none;
      }
  }
  
  .form_true_img {
    margin-top: 35px;
  
    width: 100px;
  }
  
  .usually_modal_text {
      font-size: 16px;
      margin-top: 30px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
  }
  
  
.modal_form {
    background: #fff;
    padding: 20px 50px 50px 50px;
    .cons_text {
        font-size: 21px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: 1px;
        text-align: left;
        color: #302d2d;
    }
    .label__style {
        font-size: 16px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.13;
        letter-spacing: normal;
        color: #242321;
    }
    .input_focus {
        border-bottom: 1.5px solid #242321 !important;
        color: #242321 !important;

    }
}


.post_forms {
    width: 525px;
    padding: 45px 60px;
    background-color: #ececec;

    input:-internal-autofill-selected {
        background-color: transparent !important;
    }

    .inp-vak-wrap {
        margin-top: 35px;
        position: relative;
        height: 60px;    
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .label__style {
        transition: all .2s;
        bottom: 25px;
        position: absolute;
          font-size: 13px;
        letter-spacing: normal;
        color: #231f20;

        padding: 5px;
    }
    .inp-vak-wrap input {
        padding: 5px;
        outline: none;
    }
    .input_focus {
        position: relative;
        z-index: 1;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.13;
        letter-spacing: normal;
        color: #231f20 !important;
      
    }
    .inp-vak-wrap {
        position: relative;
        height: 55px;
    
      }
    .label__style {
      transition: all .2s;
      bottom: 25px;
      position: absolute;
      font-size: 16px;
      z-index: 0;
    }
    .label__style_active {
      transition: all .2s;
      bottom: 50px;
      font-size: 14px;
      color: #231f20;
    
    }
    .input_focus {
      position: relative;
      z-index: 1;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #231f20 !important;
    }
    .input_focus_active {
        border-bottom: 2px solid #231f20 !important;
    }
    
    
    .inp-cons-wrap {
      input {
        color: #00000096 !important;
        border-bottom: 1px solid #de4166;
      }
    }
    .submit_cons {
        outline: none;
    background: transparent;
    margin-top: 40px;
    display: block;
    border-radius: 5px;
    background-color: #103989;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding: 17px 33px;
    border: none;
    cursor: pointer;
    }
    .true_form {
      min-height: 260px;
    }
    
   
    .cons_text {
        text-align: center;
        color: #103989;
        line-height: 1;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 15px;
    
    }
}
.error {
    color: red;
    font-size: 13px;
    position: relative !important;
    padding-top: 3px;

}

